.SearchBar {
  background-color: white;
  /* box-shadow: 0 4px 2px -2px gray; */
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.form {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
}

.input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
